@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SignUp</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="@Url.Content("/Content/NavBar.css")" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/js/all.min.js"></script>
        <script src="~/Scripts/logout.js"></script>
    </head>
    <body>


        <div class="container1">
            <div class="header">


                <div class="h2_style">
                    <h2>
                        <br>
                        About us<small class="text-black-50"></small>
                    </h2>
                    <div class="container">
                    </div>
                    <div class="flex">
                        <div class="col  para_home">
                            <div class="p-3  bg-transparent te">
                                <p class="text-dark text-justify">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo et, ipsa distinctio doloremque corporis numquam iusto atque facilis suscipit optio consequuntur maiores quasi ducimus, vero voluptatibus fugiat nostrum libero deleniti! Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam non explicabo eligendi ea. Corporis accusamus reprehenderit molestias ratione, exercitationem voluptatum alias eveniet ullam facere. Amet culpa aperiam enim odio perspiciatis. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde quae eum voluptates enim at doloremque, minima ipsam a nostrum nisi harum dicta, delectus, deserunt odit modi consequatur. In, tenetur voluptas.</p>
                            </div>
                        </div>

                        <div class="col para_home">
                            <div class="p-3 bg-transparent text-white-50">
                                <p class="text-dark text-justify">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet magnam repudiandae nostrum maxime iste, mollitia maiores? Aliquam distinctio hic dicta fuga temporibus praesentium. Deserunt culpa eligendi neque ipsam, quae vero. Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis porro amet omnis nesciunt excepturi consequuntur architecto quos blanditiis, ipsam dicta rerum alias, voluptatem, nulla tenetur illum? Voluptate ad soluta exercitationem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam consectetur quisquam optio dolor porro, nobis nesciunt quo obcaecati, itaque dolore nulla atque voluptatibus iusto quam distinctio? Molestias voluptate quod tempore!</p>
                            </div>
                        </div>
                    </div>
                </div>





                <div class="card-container">

                    <div class="card col-sm-4" style="width: 18rem;">
                        <img class="card-img-top" src="https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/TalkwithSales_RWxOnU?resMode=sharp2&op_usm=1.5,0.65,15,0&wid=1251&hei=443&qlt=85&fit=constrain" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">How Can We Help You?</h5>
                            <p class="card-text">Wherever you are claySys Advisors will be delighted to assist you.</p>
                            <a href="ContactUs.html" class="btn btn-secondary">Contact Us</a>
                        </div>
                    </div>

                    <div class="card col-sm-4" style="width: 18rem;">
                        <img class="card-img-top" src="https://media.istockphoto.com/id/1314733412/photo/visa-application-form-to-thailand.jpg?b=1&s=612x612&w=0&k=20&c=Pfvj2c-UJRv8jWtmaqVV7-APCVSbX9DSOEPrjpfgeHU=" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">About</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="AboutUs.html" class="btn btn-secondary">ABOUT</a>
                        </div>
                    </div>

                    <div class="card col-sm-4" style="width: 18rem;">
                        <img class="card-img-top" src="https://media.istockphoto.com/id/184940708/photo/travel-background.jpg?b=1&s=612x612&w=0&k=20&c=zH-gT2ts_2GkcQP3G5Q8EWyjK2o-RewvObnfWd-wX04=" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Services</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-secondary">SERVICES</a>
                        </div>
                    </div>
                </div>



                <div class="h2_style serviceone">
                    <h2>
                        <br>
                        Services<small class="text-black-50"></small>
                    </h2>
                    <div class="container">
                    </div>
                    <div class="flex servicetwo">
                        <div class="col  para_home">
                            <div class="p-3   ">
                                <p class="text-dark text-justify">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo et, ipsa distinctio doloremque corporis numquam iusto atque facilis suscipit optio consequuntur maiores quasi ducimus, vero voluptatibus fugiat nostrum libero deleniti! Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam non explicabo eligendi ea. Corporis accusamus reprehenderit molestias ratione, exercitationem voluptatum alias eveniet ullam facere. Amet culpa aperiam enim odio perspiciatis. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde quae eum voluptates enim at doloremque, minima ipsam a nostrum nisi harum dicta, delectus, deserunt odit modi consequatur. In, tenetur voluptas.</p>
                            </div>
                        </div>

                        <div class="col para_home">
                            <div class="p-3 bg-transparent text-white-50">
                                <p class="text-dark text-justify">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet magnam repudiandae nostrum maxime iste, mollitia maiores? Aliquam distinctio hic dicta fuga temporibus praesentium. Deserunt culpa eligendi neque ipsam, quae vero. Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis porro amet omnis nesciunt excepturi consequuntur architecto quos blanditiis, ipsam dicta rerum alias, voluptatem, nulla tenetur illum? Voluptate ad soluta exercitationem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam consectetur quisquam optio dolor porro, nobis nesciunt quo obcaecati, itaque dolore nulla atque voluptatibus iusto quam distinctio? Molestias voluptate quod tempore!</p>
                            </div>
                        </div>
                    </div>
                </div>







            </div>
            <!--Header ends-->

        </div>
        <!--Background ends-->




        <div class="videobar">

            <!-- Footer -->
            <footer class=" text-center text-dark">
                <!-- Grid container -->
                <div class="container p-4 footerayshel">
                    <!-- Section: Social media -->
                    <section class="mb-4">
                        <!-- Facebook -->
                        <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button">
                            <i class="fab fa-facebook"></i>
                        </a>


                        <!-- Google -->
                        <a class="btn btn-outline-dark btn-floating m-1" href="https://www.justdial.com/Malappuram/Ayshel-Boutique-Near-Musjid-Mangalam-Mlp/9999PX483-X483-190322202629-T6N6_BZDET" role="button">
                            <i class="fab fa-google"></i>
                        </a>

                        <!-- Instagram -->
                        <a class="btn btn-outline-dark btn-floating m-1" href="https://www.instagram.com/ayshellshop/?hl=en" role="button">
                            <i class="fab fa-instagram"></i>
                        </a>

                        <!-- Linkedin -->
                        <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button">
                            <i class="fab fa-linkedin-in"></i>
                        </a>


                        <!-- Section: Social media -->
                        <!-- Section: Text -->
                        <section class="mb-4">
                            <p>
                                Subscribe to get special offers, free giveaways, and once-in-a-lifetime deals.
                            </p>
                        </section>
                        <!-- Section: Text -->
                        <!-- Copyright -->

            </footer>




            <div class="footerayshel">
                <div class="text-center p-3 " style="background-color: rgba(0, 0, 0, 0.2);">
                    © 2020 Copyright:
                    <a class="text-dark" href="https://mdbootstrap.com/">E-Visa.com</a>
                </div>
            </div>

        </div>

        <script type="text/javascript">
            function preventBack() {
                window.history.forward();
            }
            setTimeout("preventBack()", 0);
            window.onunloadfunction() {
                null;
            }

        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>
