@{
    ViewBag.Title = "Contact";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="@Url.Content("/Content/NavBar.css")" rel="stylesheet" />
    <link href="@Url.Content("/Content/form_style.css")" rel="stylesheet" />
   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/js/all.min.js"></script>

</head>
<body>



    <div class="container1">
        <div class="header">

            <div class="h2_style">
                <h2>
                    <br>
                    We'd Love<small class="text-black-50"> to hear from You</small>
                </h2>
                <div class="container">
                </div>
                <div class="flex">
                    <div class="col  para_home">
                        <div class="p-3  bg-transparent te">
                            <p class="text-dark text-justify">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo et, ipsa distinctio doloremque corporis numquam iusto atque facilis suscipit optio consequuntur maiores quasi ducimus, vero voluptatibus fugiat nostrum libero deleniti! Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam non explicabo eligendi ea. Corporis accusamus reprehenderit molestias ratione, exercitationem voluptatum alias eveniet ullam facere. Amet culpa aperiam enim odio perspiciatis. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde quae eum voluptates enim at doloremque, minima ipsam a nostrum nisi harum dicta, delectus, deserunt odit modi consequatur. In, tenetur voluptas.</p>
                        </div>
                    </div>

                    <div class="col para_home">
                        <div class="p-3 bg-transparent text-white-50">
                            <p class="text-dark text-justify">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet magnam repudiandae nostrum maxime iste, mollitia maiores? Aliquam distinctio hic dicta fuga temporibus praesentium. Deserunt culpa eligendi neque ipsam, quae vero. Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis porro amet omnis nesciunt excepturi consequuntur architecto quos blanditiis, ipsam dicta rerum alias, voluptatem, nulla tenetur illum? Voluptate ad soluta exercitationem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam consectetur quisquam optio dolor porro, nobis nesciunt quo obcaecati, itaque dolore nulla atque voluptatibus iusto quam distinctio? Molestias voluptate quod tempore!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Header ends-->

        <p class="text-center">For Tele Enquiries(TVRS enquiry) call at +91-11-24300666 Please use 00482333319 as key.</p>
    </div>
    <!--Background ends-->



    <div class="videobar">

        <!-- Footer -->
        <footer class="text-center text-white" style="background-color: #caced1;">
            <!-- Grid container -->
            <div class="container p-4">
                <!-- Section: Images -->
                <section class="">
                    <div class="row">
                        <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                            <div class="bg-image hover-overlay ripple shadow-1-strong rounded"
                                 data-ripple-color="light">
                                <img src="https://mdbcdn.b-cdn.net/img/new/fluid/city/113.webp"
                                     class="w-100" />
                                <a href="#!">
                                    <div class="mask"
                                         style="background-color: rgba(251, 251, 251, 0.2);"></div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                            <div class="bg-image hover-overlay ripple shadow-1-strong rounded"
                                 data-ripple-color="light">
                                <img src="https://mdbcdn.b-cdn.net/img/new/fluid/city/111.webp"
                                     class="w-100" />
                                <a href="#!">
                                    <div class="mask"
                                         style="background-color: rgba(251, 251, 251, 0.2);"></div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                            <div class="bg-image hover-overlay ripple shadow-1-strong rounded"
                                 data-ripple-color="light">
                                <img src="https://mdbcdn.b-cdn.net/img/new/fluid/city/112.webp"
                                     class="w-100" />
                                <a href="#!">
                                    <div class="mask"
                                         style="background-color: rgba(251, 251, 251, 0.2);"></div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                            <div class="bg-image hover-overlay ripple shadow-1-strong rounded"
                                 data-ripple-color="light">
                                <img src="https://mdbcdn.b-cdn.net/img/new/fluid/city/114.webp"
                                     class="w-100" />
                                <a href="#!">
                                    <div class="mask"
                                         style="background-color: rgba(251, 251, 251, 0.2);"></div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                            <div class="bg-image hover-overlay ripple shadow-1-strong rounded"
                                 data-ripple-color="light">
                                <img src="https://mdbcdn.b-cdn.net/img/new/fluid/city/115.webp"
                                     class="w-100" />
                                <a href="#!">
                                    <div class="mask"
                                         style="background-color: rgba(251, 251, 251, 0.2);"></div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                            <div class="bg-image hover-overlay ripple shadow-1-strong rounded"
                                 data-ripple-color="light">
                                <img src="https://mdbcdn.b-cdn.net/img/new/fluid/city/116.webp"
                                     class="w-100" />
                                <a href="#!">
                                    <div class="mask"
                                         style="background-color: rgba(251, 251, 251, 0.2);"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Section: Images -->
            </div>
            <!-- Grid container -->

        </footer>

    </div>


    <div class="row">
        <div class="col">
            <!-- Google Map -->
            <div id="map-container-google-3" class="z-depth-1-half map-container-3" style="flex-grow: 1;">
                <iframe src="https://maps.google.com/maps?q=warsaw&t=k&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" style="border:0; width: 100%; height: 100%;" allowfullscreen></iframe>
            </div>
        </div>
    </div>







    <div class="footerayshel">
        <div class="text-center p-3 " style="background-color: rgba(0, 0, 0, 0.2);">
            © 2020 Copyright:
            <a class="text-dark" href="https://mdbootstrap.com/">e-Visa.com</a>
        </div>
    </div>





    <script type="text/javascript">
        function preventBack() {
            window.history.forward();
        }
        setTimeout("preventBack()", 0);
        window.onunloadfunction() {
            null;
        }

    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>